.home-container {
  position: relative;
  height: 100vh;
  background-image: url("/background6.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Frosted glass effect for the box */
.frosted-box {
  background-color: #e2e2e24d;
  backdrop-filter: blur(3px);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  position: relative;
  z-index: 1;
}

.title {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.btn-custom {
  padding: 15px 30px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: medium;
  border-radius: 2px;
  background-color: #ffffff4d;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  flex: 1;
  width: 150px;
}

/* Hover effect */
.btn-custom:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .btn-custom {
    max-width: 120px;
    padding: 12px 20px;
    font-size: 1rem;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .btn-custom {
    width: 100%;
    max-width: none;
  }
}

.btn-primary-custom {
  background-color: #fc6805;
}

.btn-primary-custom:hover {
  background-color: #fc68057c;
}

/* Secondary Button Custom Styling */
.btn-secondary-custom {
  background-color: #fc00b0ec;
}

.btn-secondary-custom:hover {
  background-color: #fc00b07a;
}

img {
  height: 100px;
  margin-bottom: 20px;
  display: block;
}
